Plugins>KymoButler for ImageJ, "KymoButler Analyze", KymoButler_Analyze
Plugins>KymoButler for ImageJ, "KymoButler Upload", KymoButler_Upload
Plugins>KymoButler for ImageJ, "KymoButler Infos", KymoButler_Infos
Plugins>KymoButler for ImageJ, "-"
Plugins>KymoButler for ImageJ, "KymoButler JSON parser", KymoButler_JSON_parser
Plugins>KymoButler for ImageJ, "KymoButler Options", KymoButler_Options
